# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# External packages folder
lab024/lab001/~$test.xlsx
.idea/
lab047/lab005/lab003/腾祥嘉丽细圆简.TTF
*.ttf
lab051/lab008/gamedata/fightDemo/

# ctags
.tags

*.swp

pkg

lab132/lab001/lab001
lab132/lab003/lab003
lab151/lab001/test.mp4
lab152/dictionary.txt
lab123/lab009/debug.log
lab153/vendor/selenium-server-standalone-3.14.0.jar
lab153/selenium-server-standalone-3.14.0.jar
lab128/lab001/gorm.db
lab170/lab001/data
lab175/data/2.txt
sh.exe.stackdump
lab140/vendor/github.com/gocolly/colly/_examples/local_files
lab188/oui.txt
lab188/oui2.txt
lab188/oui_database.txt
lab195/lab001/greetercl/greetercl
lab195/lab001/greetersvc/greetersvc
lab195/lab001/greetersvr/greetersvr
lab196/lab001/new.png
lab207/lab001/bar.html
lab209/data
lab150/lab005/Info*
coverage.txt
lab217/lab001/output_name
lab165/lab003/filter.tmp
lab218/data/*
lab231/data/*
lab232/data
lab238/data/wechat
lab150/lab010/files/
lab253/testdata/dst_*.png
lab255/data
lab036/lab006/logs
lab164/lab005/logs
lab261/data
lab262/data
lab264/lab001/lab001
lab264/lab001/main
lab264/lab002/lab002_*