# 这是一个 TOML 文档。

title = "TOML 示例"
port = 18080
hosts = ["gamma", "delta"]

[owner]
name = "汤姆·普雷斯顿—维尔纳"
dob = 1979-05-27T07:32:00-08:00 # 第一类日期时刻

[database]
server = "192.168.1.1"
ports = [ 8001, 8001, 8002 ]
connection_max = 5000
enabled = true

[servers]

  # 允许缩进（Tab 和/或空格），不过不是必要的
  [servers.alpha]
  ip = "10.0.0.1"
  dc = "eqdc10"

  [servers.beta]
  ip = "10.0.0.2"
  dc = "eqdc10"

[clients]
data = [ ["gamma", "delta"], [1, 2] ]

# 数组中是可以换行的
# hosts = [
#   "alpha",
#   "omega"
# ]
hosts = ["gamma", "delta"]

# 测试viper的默认值
[server]
port = 18080



