<!DOCTYPE html>
<html>
<head>
    <title>Go To-Do list</title>
</head>
<body>
<p>
    To-Do list for user: {{ .User }}
</p>
<table>
    <tr>
        <td>Task</td>
        <td>Done</td>
    </tr>
{{ with .List }}
{{ range . }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ if .Done }}Yes{{ else }}No{{ end }}</td>
    </tr>
{{ end }}
{{ end }}
</table>
</body>
</html>